<?xml version="1.0" encoding="utf-8"?>
<Media Key="b799114e-82a9-4b30-9d28-2442827e5f85" Alias="01.svg" Level="2">
  <Info>
    <Parent Key="20638875-3e2e-4b77-8dd5-7db00ae679f3">Partner</Parent>
    <Path>/Partner/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T15:12:59</CreateDate>
    <NodeName Default="01.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xswdwvns/01.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>