<?xml version="1.0" encoding="utf-8"?>
<Media Key="48bcd947-528e-4560-9c9f-e82e36222d13" Alias="02.svg" Level="2">
  <Info>
    <Parent Key="20638875-3e2e-4b77-8dd5-7db00ae679f3">Partner</Parent>
    <Path>/Partner/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T15:12:59</CreateDate>
    <NodeName Default="02.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wvsb3kuv/02.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>