<?xml version="1.0" encoding="utf-8"?>
<Media Key="126baa3e-57fc-45f8-94a1-4a96fe95b122" Alias="03.svg" Level="2">
  <Info>
    <Parent Key="20638875-3e2e-4b77-8dd5-7db00ae679f3">Partner</Parent>
    <Path>/Partner/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T15:12:58</CreateDate>
    <NodeName Default="03.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zqlnt2hh/03.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>