<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab86d3ca-ddee-4952-b866-d12c9d183fe6" Alias="04.svg" Level="2">
  <Info>
    <Parent Key="20638875-3e2e-4b77-8dd5-7db00ae679f3">Partner</Parent>
    <Path>/Partner/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T15:12:58</CreateDate>
    <NodeName Default="04.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hbxcispv/04.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>