<?xml version="1.0" encoding="utf-8"?>
<Media Key="2c226053-f3c3-40dd-b6d0-49ecee8f77e5" Alias="06.svg" Level="2">
  <Info>
    <Parent Key="20638875-3e2e-4b77-8dd5-7db00ae679f3">Partner</Parent>
    <Path>/Partner/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T15:12:59</CreateDate>
    <NodeName Default="06.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uhojbtwy/06.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>