<?xml version="1.0" encoding="utf-8"?>
<Media Key="c3457a3c-2e7b-41ff-85b0-3c66dee76d8a" Alias="AAron.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AAronsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T16:36:44</CreateDate>
    <NodeName Default="AAron.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/z1dpoila/aaron.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>