<?xml version="1.0" encoding="utf-8"?>
<Media Key="98db31f3-785b-41a5-84ed-c58c4190b3f2" Alias="AJ.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AJsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T16:36:21</CreateDate>
    <NodeName Default="AJ.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/agghs4sa/aj.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>