<?xml version="1.0" encoding="utf-8"?>
<Media Key="dfc7df24-a5b9-4e29-8bf9-1d8050fbfae4" Alias="brandon.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/brandonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T16:36:00</CreateDate>
    <NodeName Default="brandon.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0zrgkpnc/brandon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>