<?xml version="1.0" encoding="utf-8"?>
<Media Key="6fc4fed5-5371-496a-b137-e9898efb54c1" Alias="Contact.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Contactsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T13:57:25</CreateDate>
    <NodeName Default="Contact.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/e3bhndlk/contact.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>