<?xml version="1.0" encoding="utf-8"?>
<Media Key="891c487c-9383-48b8-8629-036778d2893c" Alias="Group 112.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Group112svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T14:48:07</CreateDate>
    <NodeName Default="Group 112.svg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/r10l202y/group-112.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>