<?xml version="1.0" encoding="utf-8"?>
<Media Key="1cb148cd-1ebc-4ed5-bb4c-5c3f5ac1f0ac" Alias="home.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/homesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T17:02:45</CreateDate>
    <NodeName Default="home.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/h50bh5vh/home.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>