<?xml version="1.0" encoding="utf-8"?>
<Media Key="990581fd-df63-4866-a7c5-9aa232b93564" Alias="image2.svg" Level="2">
  <Info>
    <Parent Key="e33ac071-5e9b-4919-9886-fdee6003ca59">Services</Parent>
    <Path>/Services/image2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T13:56:54</CreateDate>
    <NodeName Default="image2.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/b24ko41y/image2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>