<?xml version="1.0" encoding="utf-8"?>
<Media Key="c355d135-6ce7-4f0a-80a1-1957078fc024" Alias="image3.svg" Level="2">
  <Info>
    <Parent Key="e33ac071-5e9b-4919-9886-fdee6003ca59">Services</Parent>
    <Path>/Services/image3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T13:56:53</CreateDate>
    <NodeName Default="image3.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/y3wpoip2/image3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>