<?xml version="1.0" encoding="utf-8"?>
<Media Key="69041364-a719-4121-8219-03fc9ec2ac9e" Alias="Kevin.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Kevinsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T16:38:21</CreateDate>
    <NodeName Default="Kevin.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/s0xkncyc/kevin.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>