<?xml version="1.0" encoding="utf-8"?>
<Media Key="1ae78d3c-35cc-4892-b3f3-51d4a03be1c5" Alias="KevinReview.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/KevinReviewsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T15:05:22</CreateDate>
    <NodeName Default="KevinReview.svg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zyyel4gx/kevinreview.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>