<?xml version="1.0" encoding="utf-8"?>
<Media Key="eea2904f-52f9-4870-9732-d3a59a56c45e" Alias="kevin-gardner.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T16:38:12</CreateDate>
    <NodeName Default="kevin-gardner.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xuwbadhc/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>