<?xml version="1.0" encoding="utf-8"?>
<Media Key="9894a4ea-60fe-4201-81f9-ce2b7d2e60c9" Alias="Logo.svg" Level="2">
  <Info>
    <Parent Key="24a5713a-7278-48f5-95e5-f77bda291c06">Logo</Parent>
    <Path>/Logo/Logosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T14:12:13</CreateDate>
    <NodeName Default="Logo.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/damdm4xf/logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>