<?xml version="1.0" encoding="utf-8"?>
<Media Key="a6f7164a-9e58-439e-a43b-cdbc8b0c32e6" Alias="map 1.svg" Level="2">
  <Info>
    <Parent Key="5dfff86c-4795-42da-9edd-9afb212171b9">Map</Parent>
    <Path>/Map/map1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T16:11:09</CreateDate>
    <NodeName Default="map 1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xcvfkrcd/map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>