<?xml version="1.0" encoding="utf-8"?>
<Media Key="5dfff86c-4795-42da-9edd-9afb212171b9" Alias="Map" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Map</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-28T16:10:48</CreateDate>
    <NodeName Default="Map" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties />
</Media>