<?xml version="1.0" encoding="utf-8"?>
<Media Key="65e85c08-a359-4083-92bf-b72ba8fee530" Alias="Miranda.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Mirandasvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T16:37:47</CreateDate>
    <NodeName Default="Miranda.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5lqfvb0c/miranda.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>