<?xml version="1.0" encoding="utf-8"?>
<Media Key="5a091670-eaf2-4180-87df-e97bd795ef48" Alias="ourstorybg.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ourstorybgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T16:35:10</CreateDate>
    <NodeName Default="ourstorybg.svg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qkvlxohj/ourstorybg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>