<?xml version="1.0" encoding="utf-8"?>
<Media Key="20638875-3e2e-4b77-8dd5-7db00ae679f3" Alias="Partner" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Partner</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-28T15:12:42</CreateDate>
    <NodeName Default="Partner" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties />
</Media>