<?xml version="1.0" encoding="utf-8"?>
<Media Key="36c1eef8-3792-468f-9fd0-f353949553bf" Alias="risk2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/risk2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T11:59:49</CreateDate>
    <NodeName Default="risk2.svg" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bjjhhvej/risk2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>