<?xml version="1.0" encoding="utf-8"?>
<Media Key="e33ac071-5e9b-4919-9886-fdee6003ca59" Alias="Services" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-27T13:56:20</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties />
</Media>