<?xml version="1.0" encoding="utf-8"?>
<Media Key="daf4ed99-1bc6-43a6-880b-3dd0b81d5e54" Alias="signatur.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/signatursvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T14:33:51</CreateDate>
    <NodeName Default="signatur.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nnifmog3/signatur.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>