<?xml version="1.0" encoding="utf-8"?>
<Media Key="3dadbdf7-1b54-4eac-959a-ce97277b71ee" Alias="Sucessimg.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Sucessimgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T14:48:07</CreateDate>
    <NodeName Default="Sucessimg.svg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/auaa5x0p/sucessimg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>