<?xml version="1.0" encoding="utf-8"?>
<Media Key="7b8b642e-5938-4d58-b519-67e6431ccf84" Alias="Team Members" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TeamMembers</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-23T16:39:16</CreateDate>
    <NodeName Default="Team Members" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>