<?xml version="1.0" encoding="utf-8"?>
<Media Key="4aa31b35-e49b-4dd2-b624-9ef0770f1334" Alias="Tinabug.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Tinabugsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T14:35:40</CreateDate>
    <NodeName Default="Tinabug.svg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/y4tadkea/tinabug.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>