@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.MapSection)Model.Content;
}

<div class="container">
    <div class="">
        @if (content.ContactMap != null!)
        {
            <img src="@content.ContactMap.Url()" alt="Denna är karta ja" />
        }

    </div>
</div>

