@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.PartnerSection)Model.Content;
}

<div class="container">
    <div class="partner-container">
        @Html.GetBlockListHtml(content.PartnerList) 

    </div>
</div>

