@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.SucessCounter)Model.Content;
}

<div>
    <div>
        <h2 class="dex-deshawn">@content.CounterLable</h2>
		<p class="count-text">@content.CounterText</p>
    </div>
</div>
