@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.TeamMember)Model.Content;
}

@if (content.MemberImg != null)
{
    <img src="@content.MemberImg.Url()" alt="@content.MemberName"/>
}
<div class="member-info">
    <h4>@content.MemberName</h4>
	<p>@content.MemberRole</p>
</div>

