@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a, button, ul, li {
    text-decoration: none;
    list-style-type:none;
    color:var(--clr-primary)
    
}
a:hover, button:hover{
        cursor: pointer
    }
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.form{
    display:flex;
    gap:1rem;
    flex-direction:column;
    width:100%;
}
.form-input{
    width:100%;
}
.input{
    padding:1rem .5rem;
    width:100%;
    border: 1px solid var(--clr-border);
    background-color:transparent;
    color:var(--clr-note)
}
.devider{
    border-right:2px solid var(--clr-border);
    margin:0 2rem;
}
:root {
    --clr-primary: #4F5955;
    --clr-sub1: #F2EDDC;
    --clr-sub3: #D9C3A9;
    --clr-note: #9C9EA6;
    --clr-body-text: #535656;
    --form-shadow: 0 2px 8px rgba(79, 89, 85, 0.08);
    --clr-black: #0E0E0E;
    --clr-white: #FFFFFF;
    --clr-bg-secondary: #F7F7F7;
    --clr-border: #EBEBEB;
    --clr-warning: #dc3545;
    --clr-sucess: #198754;
    --clr-sucess50: #d4f7e7;
    --font-size-xs: 14px;
    --font-size-s: 16px;
    --font-size-m: 22px;
    --font-size-l: 40px;
    --font-size-xl: 70px;
    --font-reg: 400;
    --font-semi: 600;
    --font-bold: 800;
}
.input-validation-error, .error-msg {
    color: var(--clr-warning);
    border-color: var(--clr-warning)
}
.error-msg{

}
.aside{
    max-width:350px;
    img{
           max-width:300px;
       }
    .aside-group {
    max-width: 300px;
}
}
.field-validation-error {
    color: var(--clr-warning)
}
.icon-text{
    display:flex;
    align-items:center;
    gap:.5rem;
    p{
               color:var(--clr-primary);
               font-size:var(--font-size-s);
               font-weight:500;
           }
    .fa-solid {
    color: var(--clr-sub3);
}
}
.rte-s {
    font-size: var(--font-size-xs)
}
.rte-m {
    font-size: var(--font-size-m)
}
.rte-l {
    font-size: var(--font-size-l)
}
.rte-reg{
    font-weight:var(--font-reg)
}
.rte-semi {
    font-weight: var(--font-semi)
}
.rte-bold {
    font-weight: var(--font-bold)
}
.map-height{
    height:865px;
    margin-bottom:4rem;
    display:flex;
}
.sr-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    clip-path: inset(50%) !important;
    border: 0 !important;
    white-space: nowrap !important; 
}
.active{
    color:var(--clr-sub3);
}
.rte {
    padding-bottom: 2rem;
}
.width-max{
    width:100%;
}
footer{
    padding:1rem;
}
.dex-deshawn{
    font-size:100px;
    font-family:700;
    color:var(--clr-sub3)
}
.count-text{
    font-size:18px;
    font-weight:500;
    color:var(--clr-white);
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.hero-container{
    height:550px;
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:2rem;
}
.footer-container{
    background-color:var(--clr-black);
    color:var(--clr-primary);
}
.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    align-items: center;
}
.nav-container{
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding:1rem 0rem;
}
.bread-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:250px;
    font-weight:800;
    font-size:var(--font-size-m);
    .breadcrumb{
                   display:flex;
                   font-weight:400;
                   font-size:var(--font-size-xs);
                   gap:.5rem;
                   align-items:center;

               }
}
.service-container {
    padding: 4rem 0;
}
.partner-container{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    gap:3rem;
}
.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: fit-content;
    height: 715px;
    padding-top: 4rem;
}
.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    .contact-head{
                     color:var(--clr-primary);
                     font-weight:bold;
                     font-size:var(--font-size-l);
                 }
}
.cto-container{
    display:grid;
    grid-template-columns:55% 35%;
    gap:3rem;
    padding:3rem 0;
}
.cto-map-container {

    display:flex;
    align-self:end;

}
.form-container {
    padding: 1rem;
    display: flex;
    flex-direction:column;
    gap: 1rem;
    width: 100%;
    form{
            width:100%;
        }
}
.question-form-container{
    display:flex;
    flex-direction:column;
    gap:2rem;
}
.review-container{
    display:grid;
    grid-template-columns:50% 60%;
    height:100%;
    margin: 4rem 0;
}
.details-container{
    display:flex;
    flex-direction:row;
    margin:4rem 0;
}
.succ-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 7rem;
    gap: 2rem;
}
.review-body {
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.succ-section{
    height:1000px
}
.counter-list{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.green-earth {
    height: 800px
}

.review-head {
}
.stars{

}
.review-name{

}

.question-group{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:1rem;
    width:100%;
    align-items:center;
    justify-content:center;
}
.aside-group{
    display:flex;
    flex-direction:column;
    gap:1rem;
}
.review-img {
    img{
           height:100%;
           margin-left:1.4rem;
       }
}
.about-ceo {
    display: flex;
    gap: 4rem;
    margin: 8rem 0;
}
.text-center {
    text-align: center;
}
.font-head {
    color: var(--clr-primary);
    font-size: var(--font-size-xl);
    font-weight: bold;
}
.font-text {
    color: var(--clr-primary);
    font-size:var(--font-size-s);
}
.font-sub {
    color: var(--clr-body-text);
    font-size:var(--font-size-xs);
}
.font-sub-l{
    color:var(--clr-primary);
    font-size:var(--font-size-l);
}
.font-badge {
    color: var(--clr-sub3);
    font-size:var(--font-size-xs);
}
.font-card-head {
    color: var(--clr-primary);
    font-size: var(--font-size-m);
    font-weight: 700;
}
.font-Topbar{
    color:var(--clr-white);
    font-size:13px;
}
.bg-green {
    background-color: var(--clr-primary)
}
.bg-white{
    background-color:var(--clr-white)
}
.bg-grey{
    background-color:var(--clr-bg-secondary)
}
.bg-header{
    
    background-image:url("/Images/Rec-Left.svg"), url("/Images/Rek-Right.svg");
    background-position:left bottom, right top;
    background-color:var(--clr-bg-secondary);
    background-repeat:no-repeat;
    margin-top:3px;
}
.bg-dark{
    background:var(--clr-black);
}
.map-bg {
    position: absolute;
    z-index: -1;
    margin-top: 1.5rem;

    
}
.bg-img{
    justify-content:center;
    display:flex;
    width:100svw;
}
.story-bg{
}
.shadow {
    box-shadow: var(--form-shadow);
}
.current {
    a
    {
        color: var(--clr-sub3);
    }
}
.success-msg{
    background: var(--clr-sucess50);
    padding:1rem;
    font-size:var(--font-size-xs);
    border-radius:.2rem;
    color:var(--clr-sucess);
}


.contact-width {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.btn{
    padding:1rem 2.5rem;
    border:none;
    border-radius:0.2rem;
}
.btn-contact {
    background: var(--clr-primary);
    color: var(--clr-sub1);
    width: 12rem;
    text-align: center;
    font-weight: 700;
}
.btn-submit{
    width:100%;
    background:var(--clr-sub1);
    font-size:var(--font-size-s)
}
.btn-submit{
    width:fit-content;
    justify-self:center;
}
    .btn-social {
        border-left: 1px solid var(--clr-border);
        color: var(--clr-white);
        padding: .5rem 1rem;
        text-align: center;
    }
.btn-social:last-child {
    border-left: 1px solid var(--clr-border);
    border-right: 1px solid var(--clr-border)
}
.Nav-list{
    display:flex; 
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
}
.list-item{
    font-size:var(--font-size-s);
    font-weight:bold;
}
.list-item:hover {
    transition:ease-in .3s;
    color:var(--clr-sub3);
}

.hero-bg-img {
    position: absolute;
    z-index: -1;
}


.service-card {
    display: flex;
    gap: .5rem;
    flex-direction: column;
    background:var(--clr-white);
    .service-head{
                     padding:1.5rem 0;
                     margin-left:1rem;
                 }
    .service-img{}
    .service-text{
        font-size:var(--font-size-xs);
        text-align:start;
        padding:1rem 2rem;
    }
}

.top-bar {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    align-items:center;
    padding: .5rem 0rem;
}
.logo{
    display: flex;
    align-content: center;
    text-align: center;
}
.search{
    display:flex;
    align-items:center;
    justify-content:center;
}

.partner-card {
    margin:2rem;
}
.member-card {
    border: 1px solid var(--clr-border);
    max-width: 370px;
    img{
           max-width:368px;
           display:flex;

       }
}



.cto-form{
    display:flex;
    flex-direction:column;
    gap:1rem;
    align-items:center;
    justify-content:center;
    background:var(--clr-white);
}
.cto-map-form {
    width: 100%;
    background: var(--clr-white);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.form-l {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 1rem;
    
    .btn-container{
              display:flex;
              justify-content:center;
              padding-bottom:2rem;
              grid-row:3;
              grid-column:1/3;
          }
}
.support-form {
    padding: 1.5rem 1rem;
    border-radius: .2rem;
    background: var(--clr-primary);
    background-image: url("/Images/Mail.svg");
    background-position:right bottom;
    background-repeat:no-repeat;
    display: flex;
    align-items: start;
    justify-content: center;
    input{
             background:var(--clr-white);
             
         }
    h3{
        color:var(--clr-sub1);
       font-size:var(--font-size-m);
    }
    p{
        color:var(--clr-white);
        font-size:var(--font-size-s)
    }
}
.cto-body {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cto-head {
    padding:1.5rem 1rem;
    background: var(--clr-primary);
    width: 100%;
    text-align: start;

}
.map-head {
    background: var(--clr-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width:500px;
    margin-top:2rem;
}

.form-head {
    color: var(--clr-sub1);
    font-size: 30px;
}
.form-desc{
    margin:0 1rem;
    font-style:italic;
    font-size:13px;
}
.map-title {
    color: var(--clr-sub1);
    font-weight: var(--font-bold);
    font-size: var(--font-size-s);
    text-align:center;
}
.map-lab {
    color: var(--clr-primary);
    font-weight: var(--font-bold);
    font-size: var(--font-size-l);
    text-align: center;
}
.map-desc {
    color: var(--clr-body-text);
    font-weight: var(--font-reg);
    font-size: var(--font-size-xs);
    text-align: center;
}
.story-content{
    display:flex;
    flex-direction:column;
    height:765px;
    margin: 2rem auto 0rem auto;
    align-items:center;
    gap:2rem;
    text-align:center;
    width:40%;
}
.card-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.card-grid > .member-card {
    grid-column: span 3;
}

.card-grid > .member-card:nth-child(-n+3) {
    grid-column: span 4;

}
@media (max-width: 1024px) {
.card-grid {
grid-template-columns: repeat(12, minmax(0, 1fr));
}

.card-grid > .member-card {
    grid-column: span 4;
}
    .card-grid > .member-card:nth-child(-n+3) {
        grid-column: span 6;
    }
}

@media (max-width: 640px) {
.card-grid {
grid-template-columns: repeat(4, 1fr);
}

.card-grid > .member-card {
    grid-column: span 4;
}

    .card-grid > .member-card:nth-child(-n+3) {
        grid-column: span 4;
    }
}

@media (width >= 300px) {
    .success-msg {
        text-align: center;
    }
}

