@using UmbracoAssignment.ViewModels
@model QuestionFormViewModel

@using (Html.BeginUmbracoForm("HandleQuestionForm", "Form", FormMethod.Post, new { novalidate = "novalidate", id = "questionForm" }))
{
	<div class="form question-form-container">

		<h3>Have a question ?</h3>

			<div class="question-group">
				<div >
					<label class="sr-only" asp-for="Name"></label>
					<input class="input" asp-for="Name" placeholder="@Html.DisplayNameFor(x => x.Name)" type="text" />
					<span asp-validation-for="Name"></span>
				</div>

				<div>
					<label class="sr-only" asp-for="Email"></label>
					<input class="input" asp-for="Email" placeholder="@Html.DisplayNameFor(x => x.Email)" type="text" />
					<span asp-validation-for="Email"></span>
				</div>
			</div>


			<div>
				<label class="sr-only" asp-for="Question"></label>
				<input class="input" asp-for="Question" placeholder="@Html.DisplayNameFor(x => x.Question)" type="text" />
				<span asp-validation-for="Question"></span>
			</div>

			<button type="submit" class="btn btn-contact">Submit</button>
	</div>

}