<?xml version="1.0" encoding="utf-8"?>
<Content Key="6df3d9e5-6da8-4450-9e09-00a17cb08ca2" Alias="2025-10-31 14:09 - Test2" Level="2">
  <Info>
    <Parent Key="7024870b-b68a-4dc8-99bd-ebd3e747cc1c">Form Submissions</Parent>
    <Path>/FormSubmissions/Test2</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-10-31T14:09:40</CreateDate>
    <NodeName Default="2025-10-31 14:09 - Test2" />
    <SortOrder>7</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[lucas@hotmale.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Test2]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Förfalskning av signatur]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[09000000]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>