<?xml version="1.0" encoding="utf-8"?>
<Content Key="0679667b-3770-4240-b480-7e672a884e2d" Alias="2025-10-30 14:11 - Villiam" Level="2">
  <Info>
    <Parent Key="7024870b-b68a-4dc8-99bd-ebd3e747cc1c">Form Submissions</Parent>
    <Path>/FormSubmissions/Villiam</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-10-30T14:11:32</CreateDate>
    <NodeName Default="2025-10-30 14:11 - Villiam" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[asdasd@sadasd.se]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Villiam]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Embesseling]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[090909090]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>