<?xml version="1.0" encoding="utf-8"?>
<Content Key="b1150ab3-3f8f-4534-a87a-049b160029b6" Alias="2025-10-30 13:59 - villiam" Level="2">
  <Info>
    <Parent Key="7024870b-b68a-4dc8-99bd-ebd3e747cc1c">Form Submissions</Parent>
    <Path>/FormSubmissions/villiam</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-10-30T13:59:57</CreateDate>
    <NodeName Default="2025-10-30 13:59 - villiam" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[willpy@hotmail.se]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[villiam]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Shredding documents]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[090000000]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>