<?xml version="1.0" encoding="utf-8"?>
<Content Key="7d91d0b4-772c-4a04-bb95-d384a2a48e36" Alias="2025-10-31 13:03 - Lucas" Level="2">
  <Info>
    <Parent Key="7024870b-b68a-4dc8-99bd-ebd3e747cc1c">Form Submissions</Parent>
    <Path>/FormSubmissions/Lucas</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-10-31T13:03:41</CreateDate>
    <NodeName Default="2025-10-31 13:03 - Lucas" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[Test@test.se]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Lucas]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Skattefusk]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[090909909090]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>