<?xml version="1.0" encoding="utf-8"?>
<Content Key="ab67dfd4-4977-4c62-98cc-0815fc074b52" Alias="2025-11-10 18:16 - willy" Level="2">
  <Info>
    <Parent Key="7024870b-b68a-4dc8-99bd-ebd3e747cc1c">Form Submissions</Parent>
    <Path>/FormSubmissions/willy</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-10T18:16:28</CreateDate>
    <NodeName Default="2025-11-10 18:16 - willy" />
    <SortOrder>24</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[willyp@hotmail.se]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[willy]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Pennigtvätt]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[123123123]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>