<?xml version="1.0" encoding="utf-8"?>
<Content Key="1f13de95-7739-40ce-9a01-1e507a9db7d7" Alias="2025-11-07 15:58 - Willyp@hotmail.com" Level="2">
  <Info>
    <Parent Key="7024870b-b68a-4dc8-99bd-ebd3e747cc1c">Form Submissions</Parent>
    <Path>/FormSubmissions/WillypHotmailcom</Path>
    <Trashed>false</Trashed>
    <ContentType>supportRequest</ContentType>
    <CreateDate>2025-11-07T15:58:02</CreateDate>
    <NodeName Default="2025-11-07 15:58 - Willyp@hotmail.com" />
    <SortOrder>18</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <supportRequestEmail>
      <Value><![CDATA[Willyp@hotmail.com]]></Value>
    </supportRequestEmail>
  </Properties>
</Content>