<?xml version="1.0" encoding="utf-8"?>
<Content Key="10e505eb-12c0-4e7e-9280-72830f242803" Alias="2025-10-30 11:23 - Villiam" Level="2">
  <Info>
    <Parent Key="7024870b-b68a-4dc8-99bd-ebd3e747cc1c">Form Submissions</Parent>
    <Path>/FormSubmissions/Villiam</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-10-30T11:23:50</CreateDate>
    <NodeName Default="2025-10-30 11:23 - Villiam" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[willpy@hotmail.se]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Villiam]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Tax Fraud]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0800000000]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>