<?xml version="1.0" encoding="utf-8"?>
<Content Key="c415facf-747d-40a7-8f8a-3d4e5365c30c" Alias="2025-11-10 18:03 - willy" Level="2">
  <Info>
    <Parent Key="7024870b-b68a-4dc8-99bd-ebd3e747cc1c">Form Submissions</Parent>
    <Path>/FormSubmissions/willy</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-10T18:03:16</CreateDate>
    <NodeName Default="2025-11-10 18:03 - willy" />
    <SortOrder>22</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[willpy@hotmail.se]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[willy]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Pennigtvätt]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[090000000]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>