<?xml version="1.0" encoding="utf-8"?>
<Content Key="677198c5-8822-41a5-85ea-391e3861ca6d" Alias="2025-11-11 13:35 - testing" Level="2">
  <Info>
    <Parent Key="7024870b-b68a-4dc8-99bd-ebd3e747cc1c">Form Submissions</Parent>
    <Path>/FormSubmissions/testing</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-11T13:35:33</CreateDate>
    <NodeName Default="2025-11-11 13:35 - testing" />
    <SortOrder>26</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[willyp@hotmail.se]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[testing]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Skattefusk]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0900000]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>