<?xml version="1.0" encoding="utf-8"?>
<Content Key="17b82d8d-b38a-4c7c-a6e5-7e48469690b3" Alias="2025-11-04 13:51 - Fraga" Level="2">
  <Info>
    <Parent Key="7024870b-b68a-4dc8-99bd-ebd3e747cc1c">Form Submissions</Parent>
    <Path>/FormSubmissions/Fraga</Path>
    <Trashed>false</Trashed>
    <ContentType>questionRequest</ContentType>
    <CreateDate>2025-11-04T13:51:43</CreateDate>
    <NodeName Default="2025-11-04 13:51 - Fraga" />
    <SortOrder>13</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionRequestEmail>
      <Value><![CDATA[test3@test.se]]></Value>
    </questionRequestEmail>
    <questionRequestName>
      <Value><![CDATA[Fraga]]></Value>
    </questionRequestName>
    <questionRequestQuestion>
      <Value><![CDATA[detta är fråga]]></Value>
    </questionRequestQuestion>
  </Properties>
</Content>