<?xml version="1.0" encoding="utf-8"?>
<Content Key="b9c82de2-b758-4993-9842-d2d75a048ecd" Alias="2025-10-30 14:08 - villiam" Level="2">
  <Info>
    <Parent Key="7024870b-b68a-4dc8-99bd-ebd3e747cc1c">Form Submissions</Parent>
    <Path>/FormSubmissions/villiam</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-10-30T14:08:29</CreateDate>
    <NodeName Default="2025-10-30 14:08 - villiam" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[wilsad@hotmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[villiam]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Shredding documents]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[12312321]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>