<?xml version="1.0" encoding="utf-8"?>
<Content Key="90bfc21c-28fd-4862-bd7c-861b9cc998ba" Alias="2025-10-30 16:58 - Test1" Level="2">
  <Info>
    <Parent Key="7024870b-b68a-4dc8-99bd-ebd3e747cc1c">Form Submissions</Parent>
    <Path>/FormSubmissions/Test1</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-10-30T16:58:01</CreateDate>
    <NodeName Default="2025-10-30 16:58 - Test1" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[hejeh@hotmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Test1]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Skattefusk]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[09090909090]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>