<?xml version="1.0" encoding="utf-8"?>
<Content Key="b3cab25c-2ca3-4b24-b0e5-8d4c0add5c3e" Alias="2025-11-10 17:56 - Julia" Level="2">
  <Info>
    <Parent Key="7024870b-b68a-4dc8-99bd-ebd3e747cc1c">Form Submissions</Parent>
    <Path>/FormSubmissions/Julia</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-10T17:56:29</CreateDate>
    <NodeName Default="2025-11-10 17:56 - Julia" />
    <SortOrder>25</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[juliaedstav@gmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Julia]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Dokument förfalskning]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0708763120]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>