<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea0462ed-0a74-4b04-86e3-5c6c26370df1" Alias="2025-11-04 13:45 - Test12" Level="2">
  <Info>
    <Parent Key="7024870b-b68a-4dc8-99bd-ebd3e747cc1c">Form Submissions</Parent>
    <Path>/FormSubmissions/Test12</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-04T13:45:55</CreateDate>
    <NodeName Default="2025-11-04 13:45 - Test12" />
    <SortOrder>12</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[Test@test.se]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Test12]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Förfalskning av signatur]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[09000000]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>