<?xml version="1.0" encoding="utf-8"?>
<Content Key="3d6259c3-1835-4af2-93e8-e37f96df789c" Alias="2025-11-12 11:53 - Bob" Level="2">
  <Info>
    <Parent Key="7024870b-b68a-4dc8-99bd-ebd3e747cc1c">Form Submissions</Parent>
    <Path>/FormSubmissions/Bob</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-12T11:53:10</CreateDate>
    <NodeName Default="2025-11-12 11:53 - Bob" />
    <SortOrder>29</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[rsandberg96@gmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Bob]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Dokument förfalskning]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[07369696969]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>