<?xml version="1.0" encoding="utf-8"?>
<Content Key="e22e58fb-7599-4c45-9aa1-b554224dda65" Alias="2025-11-12 11:50 - Roffe" Level="2">
  <Info>
    <Parent Key="7024870b-b68a-4dc8-99bd-ebd3e747cc1c">Form Submissions</Parent>
    <Path>/FormSubmissions/Roffe</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-12T11:50:53</CreateDate>
    <NodeName Default="2025-11-12 11:50 - Roffe" />
    <SortOrder>28</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[rsandberg96@gmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Roffe]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Skattefusk]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0736696969]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>