<?xml version="1.0" encoding="utf-8"?>
<Content Key="3198a24d-6d9f-475d-a013-a7645c49436e" Alias="2025-11-10 17:16 - Villiam" Level="2">
  <Info>
    <Parent Key="7024870b-b68a-4dc8-99bd-ebd3e747cc1c">Form Submissions</Parent>
    <Path>/FormSubmissions/Villiam</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-10T17:16:26</CreateDate>
    <NodeName Default="2025-11-10 17:16 - Villiam" />
    <SortOrder>20</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[willpy@hotmail.se]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Villiam]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Pennigtvätt]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0900000000]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>