<?xml version="1.0" encoding="utf-8"?>
<Content Key="736e80d0-99cc-49e8-859d-10460d667ccd" Alias="2025-11-10 17:46 - villiam" Level="2">
  <Info>
    <Parent Key="7024870b-b68a-4dc8-99bd-ebd3e747cc1c">Form Submissions</Parent>
    <Path>/FormSubmissions/villiam</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-10T17:46:40</CreateDate>
    <NodeName Default="2025-11-10 17:46 - villiam" />
    <SortOrder>21</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[willpy@hotmail.se]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[villiam]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Skattefusk]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[090000000]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>