<?xml version="1.0" encoding="utf-8"?>
<Content Key="5d266588-8d97-4ac8-8c08-a2bb16342a29" Alias="2025-11-04 15:46 - Dubbeltes" Level="2">
  <Info>
    <Parent Key="7024870b-b68a-4dc8-99bd-ebd3e747cc1c">Form Submissions</Parent>
    <Path>/FormSubmissions/Dubbeltes</Path>
    <Trashed>false</Trashed>
    <ContentType>questionRequest</ContentType>
    <CreateDate>2025-11-04T15:46:25</CreateDate>
    <NodeName Default="2025-11-04 15:46 - Dubbeltes" />
    <SortOrder>16</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionRequestEmail>
      <Value><![CDATA[Test@test.se]]></Value>
    </questionRequestEmail>
    <questionRequestName>
      <Value><![CDATA[Dubbeltes]]></Value>
    </questionRequestName>
    <questionRequestQuestion>
      <Value><![CDATA[Detta är en fråga]]></Value>
    </questionRequestQuestion>
  </Properties>
</Content>