<?xml version="1.0" encoding="utf-8"?>
<Content Key="22ec801e-f828-4d06-954a-aa39d3c48e5c" Alias="2025-11-04 13:20 - test4" Level="2">
  <Info>
    <Parent Key="7024870b-b68a-4dc8-99bd-ebd3e747cc1c">Form Submissions</Parent>
    <Path>/FormSubmissions/test4</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-04T13:20:40</CreateDate>
    <NodeName Default="2025-11-04 13:20 - test4" />
    <SortOrder>9</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[test3@test.se]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[test4]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Dokument förfalskning]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[090900000]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>