<?xml version="1.0" encoding="utf-8"?>
<Content Key="8badb96f-ab91-4e35-9ef4-7aa0d2bb8592" Alias="2025-11-04 13:21 - test10" Level="2">
  <Info>
    <Parent Key="7024870b-b68a-4dc8-99bd-ebd3e747cc1c">Form Submissions</Parent>
    <Path>/FormSubmissions/test10</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-04T13:21:52</CreateDate>
    <NodeName Default="2025-11-04 13:21 - test10" />
    <SortOrder>10</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[test3@test.se]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[test10]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Förfalskning av signatur]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[12312313123]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>