<?xml version="1.0" encoding="utf-8"?>
<Content Key="3b040670-cb58-4309-970f-b85fe995b4d9" Alias="2025-10-31 14:15 - test 3" Level="2">
  <Info>
    <Parent Key="7024870b-b68a-4dc8-99bd-ebd3e747cc1c">Form Submissions</Parent>
    <Path>/FormSubmissions/test3</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-10-31T14:15:12</CreateDate>
    <NodeName Default="2025-10-31 14:15 - test 3" />
    <SortOrder>8</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[test3@test.se]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[test 3]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Skattefusk]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[09000000]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>