<?xml version="1.0" encoding="utf-8"?>
<Content Key="6ae0669a-2a20-4c64-b521-4457452960e2" Alias="2025-11-04 15:01 - willpy@hotmail.se" Level="2">
  <Info>
    <Parent Key="7024870b-b68a-4dc8-99bd-ebd3e747cc1c">Form Submissions</Parent>
    <Path>/FormSubmissions/willpyHotmailse</Path>
    <Trashed>false</Trashed>
    <ContentType>supportRequest</ContentType>
    <CreateDate>2025-11-04T15:01:00</CreateDate>
    <NodeName Default="2025-11-04 15:01 - willpy@hotmail.se" />
    <SortOrder>14</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <supportRequestEmail>
      <Value><![CDATA[willpy@hotmail.se]]></Value>
    </supportRequestEmail>
  </Properties>
</Content>