<?xml version="1.0" encoding="utf-8"?>
<Content Key="2f43c777-0d47-4527-b21b-d269dd661ce2" Alias="Assurance &amp; Audits" Level="3">
  <Info>
    <Parent Key="0ddaab84-3e08-4ec1-9fac-1dae652ee4e8">Services</Parent>
    <Path>/Home/Services/AssuranceAudits</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-27T13:58:38</CreateDate>
    <NodeName Default="Assurance &amp; Audits" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="76b065d7-2b7b-4480-bb2f-de3d061fd94c">ServiceDetail</Template>
  </Info>
  <Properties>
    <contactContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9a365002-ab17-4c9a-bae7-b9ce17685c2e",
      "key": "0c245d31-358f-49ef-bd19-4a9e1ee3e142",
      "udi": null,
      "values": [
        {
          "alias": "conactImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "1c41f26c-a550-4a80-ac27-d7324e1dc3df",
              "mediaKey": "6fc4fed5-5371-496a-b137-e9898efb54c1",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactEmail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        },
        {
          "alias": "contactPhone",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        },
        {
          "alias": "contactAdress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "contactHeader",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "926877fa-ecd1-4cb1-98ee-dcf2179b265e",
      "key": "2483b0a8-daae-42db-9b85-0f17f2ff2361",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "0c245d31-358f-49ef-bd19-4a9e1ee3e142",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "0c245d31-358f-49ef-bd19-4a9e1ee3e142",
        "contentUdi": null,
        "settingsKey": "2483b0a8-daae-42db-9b85-0f17f2ff2361",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contactContent>
    <pageTitle>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </pageTitle>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailsAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "039e1f0b-16f2-4785-9c25-0f5a3bff18e0",
      "key": "96ec56d2-b522-4c4c-9d46-63250b565170",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "infoImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c9ee672f-122a-41cc-bc25-2f272f185ae1",
              "mediaKey": "25ee39d8-d7ed-4275-8e81-558c018a1b13",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "96ec56d2-b522-4c4c-9d46-63250b565170",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "96ec56d2-b522-4c4c-9d46-63250b565170",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailsAsides>
    <serviceDetalBody>
      <Value><![CDATA[]]></Value>
    </serviceDetalBody>
    <serviceDetalThumbnail>
      <Value><![CDATA[[
  {
    "key": "6ab45c54-c874-4086-928f-0e6ae9ef9bcd",
    "mediaKey": "c355d135-6ce7-4f0a-80a1-1957078fc024",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetalThumbnail>
  </Properties>
</Content>