<?xml version="1.0" encoding="utf-8"?>
<Content Key="3e842193-c217-4588-ac53-44d0d4507f5a" Alias="Bonds &amp; Commodities" Level="3">
  <Info>
    <Parent Key="0ddaab84-3e08-4ec1-9fac-1dae652ee4e8">Services</Parent>
    <Path>/Home/Services/BondsCommodities</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-27T13:59:00</CreateDate>
    <NodeName Default="Bonds &amp; Commodities" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="76b065d7-2b7b-4480-bb2f-de3d061fd94c">ServiceDetail</Template>
  </Info>
  <Properties>
    <contactContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9a365002-ab17-4c9a-bae7-b9ce17685c2e",
      "key": "34589b22-df2a-4f2c-85a4-810fdd2102ac",
      "udi": null,
      "values": [
        {
          "alias": "conactImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f3da63f9-4137-4bbb-ae7c-4e24a9699c5f",
              "mediaKey": "6fc4fed5-5371-496a-b137-e9898efb54c1",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactEmail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        },
        {
          "alias": "contactAdress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "contactPhone",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "926877fa-ecd1-4cb1-98ee-dcf2179b265e",
      "key": "ff3e1e2e-9461-4e94-a9bf-2d8151aa9c86",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "34589b22-df2a-4f2c-85a4-810fdd2102ac",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "34589b22-df2a-4f2c-85a4-810fdd2102ac",
        "contentUdi": null,
        "settingsKey": "ff3e1e2e-9461-4e94-a9bf-2d8151aa9c86",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contactContent>
    <pageTitle>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </pageTitle>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailsAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "039e1f0b-16f2-4785-9c25-0f5a3bff18e0",
      "key": "57377d2f-ed46-4fc1-b345-5fed4396d8a7",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "infoImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b80b5922-b6f4-4376-959b-fe3fb21ec53d",
              "mediaKey": "25ee39d8-d7ed-4275-8e81-558c018a1b13",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "57377d2f-ed46-4fc1-b345-5fed4396d8a7",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "57377d2f-ed46-4fc1-b345-5fed4396d8a7",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailsAsides>
    <serviceDetalBody>
      <Value><![CDATA[]]></Value>
    </serviceDetalBody>
    <serviceDetalThumbnail>
      <Value><![CDATA[[
  {
    "key": "b7f82a39-6efe-4977-8552-957346d6daae",
    "mediaKey": "990581fd-df63-4866-a7c5-9aa232b93564",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetalThumbnail>
  </Properties>
</Content>