<?xml version="1.0" encoding="utf-8"?>
<Content Key="1fcaff86-83ee-466e-9ab3-3dc15544586d" Alias="Contact" Level="2">
  <Info>
    <Parent Key="e49c828a-3ad9-4aa6-aae8-eddb5ea139f8">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-23T14:50:32</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f05a8bce-0218-4a01-8171-3fe80ef25b84">ContactPage</Template>
  </Info>
  <Properties>
    <contact>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9a365002-ab17-4c9a-bae7-b9ce17685c2e",
      "key": "c387084d-11e6-4b38-9854-975088f20e5f",
      "udi": null,
      "values": [
        {
          "alias": "conactImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "5e0a2280-7893-4994-b02f-d9d1a6975e4d",
              "mediaKey": "6fc4fed5-5371-496a-b137-e9898efb54c1",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactEmail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        },
        {
          "alias": "contactPhone",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        },
        {
          "alias": "contactAdress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "contactHeader",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        }
      ]
    },
    {
      "contentTypeKey": "c5be60a1-ce77-46cc-8b2d-233ab0dc665b",
      "key": "1ae36d18-ad37-40f5-84c5-41f02931cf61",
      "udi": null,
      "values": [
        {
          "alias": "partnerList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "e0fbdcb4-7704-4745-bb46-927ed578793e",
                "key": "507dfa15-71df-454a-ab05-6064c8d7dedc",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Freedom"
                  },
                  {
                    "alias": "parterLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "bea3fc73-e773-42dd-899d-1f16bbab249d",
                        "mediaKey": "b799114e-82a9-4b30-9d28-2442827e5f85",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "e0fbdcb4-7704-4745-bb46-927ed578793e",
                "key": "ba2a680b-f6db-49a5-bb04-61c5b6e5192d",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Identity"
                  },
                  {
                    "alias": "parterLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "7a3be731-e3ee-4c59-b362-4ed6858461ce",
                        "mediaKey": "48bcd947-528e-4560-9c9f-e82e36222d13",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "e0fbdcb4-7704-4745-bb46-927ed578793e",
                "key": "8776004c-8a1a-4389-8453-b32374249bed",
                "udi": null,
                "values": [
                  {
                    "alias": "parterLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "67361430-56cf-4c01-a713-ef7cdb1c57a3",
                        "mediaKey": "126baa3e-57fc-45f8-94a1-4a96fe95b122",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Nat"
                  }
                ]
              },
              {
                "contentTypeKey": "e0fbdcb4-7704-4745-bb46-927ed578793e",
                "key": "6859096c-0705-4396-bd09-827bbc2e6f38",
                "udi": null,
                "values": [
                  {
                    "alias": "parterLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "52384ba7-a741-4494-99da-2842c5dab0bf",
                        "mediaKey": "ab86d3ca-ddee-4952-b866-d12c9d183fe6",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Simp"
                  }
                ]
              },
              {
                "contentTypeKey": "e0fbdcb4-7704-4745-bb46-927ed578793e",
                "key": "929161c6-5b59-40d7-af86-a817754d438b",
                "udi": null,
                "values": [
                  {
                    "alias": "parterLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "077a094e-c333-4f83-a377-551e0db51931",
                        "mediaKey": "5b7ee0ec-9826-4da5-831a-1b36117e43dc",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Global"
                  }
                ]
              },
              {
                "contentTypeKey": "e0fbdcb4-7704-4745-bb46-927ed578793e",
                "key": "0094cf35-a6b7-428a-87c6-dd952e53ac8d",
                "udi": null,
                "values": [
                  {
                    "alias": "parterLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "49aaeeaa-6bc4-44f0-a1c3-97521cfa4fa9",
                        "mediaKey": "2c226053-f3c3-40dd-b6d0-49ecee8f77e5",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Foss"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "507dfa15-71df-454a-ab05-6064c8d7dedc",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "ba2a680b-f6db-49a5-bb04-61c5b6e5192d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "8776004c-8a1a-4389-8453-b32374249bed",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "6859096c-0705-4396-bd09-827bbc2e6f38",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "929161c6-5b59-40d7-af86-a817754d438b",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "0094cf35-a6b7-428a-87c6-dd952e53ac8d",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "507dfa15-71df-454a-ab05-6064c8d7dedc",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "ba2a680b-f6db-49a5-bb04-61c5b6e5192d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "8776004c-8a1a-4389-8453-b32374249bed",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "6859096c-0705-4396-bd09-827bbc2e6f38",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "929161c6-5b59-40d7-af86-a817754d438b",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "0094cf35-a6b7-428a-87c6-dd952e53ac8d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "2ae8457c-ce28-4d0c-9a81-b8173fee5d83",
      "key": "88bb67b1-095e-4cb7-bf09-0e8917de9f0b",
      "udi": null,
      "values": [
        {
          "alias": "callbackFormTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "callbackFormDesc",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus"
        },
        {
          "alias": "callbackFormBg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "97c908c3-3984-4516-aed6-35d7e19adc1a",
              "mediaKey": "a6f7164a-9e58-439e-a43b-cdbc8b0c32e6",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "callbackFormLable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "926877fa-ecd1-4cb1-98ee-dcf2179b265e",
      "key": "6a0eab05-40bd-40ea-a87e-2939db8f8a6a",
      "udi": null,
      "values": [
        {
          "alias": "bgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "d6450ae8-074a-4fad-8d56-b1b3513dedb7",
      "key": "f0a23096-c32d-4066-9fbe-85d54f0d0ccb",
      "udi": null,
      "values": [
        {
          "alias": "callbackOptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Skattefusk\nF\u00F6rfalskning av signatur"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "c387084d-11e6-4b38-9854-975088f20e5f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1ae36d18-ad37-40f5-84c5-41f02931cf61",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "88bb67b1-095e-4cb7-bf09-0e8917de9f0b",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c387084d-11e6-4b38-9854-975088f20e5f",
        "contentUdi": null,
        "settingsKey": "6a0eab05-40bd-40ea-a87e-2939db8f8a6a",
        "settingsUdi": null
      },
      {
        "contentKey": "88bb67b1-095e-4cb7-bf09-0e8917de9f0b",
        "contentUdi": null,
        "settingsKey": "f0a23096-c32d-4066-9fbe-85d54f0d0ccb",
        "settingsUdi": null
      },
      {
        "contentKey": "1ae36d18-ad37-40f5-84c5-41f02931cf61",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contact>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
  </Properties>
</Content>