<?xml version="1.0" encoding="utf-8"?>
<Content Key="5beb4cf8-0270-42da-af88-fdc0e68d221b" Alias="Financial Advisor" Level="3">
  <Info>
    <Parent Key="0ddaab84-3e08-4ec1-9fac-1dae652ee4e8">Services</Parent>
    <Path>/Home/Services/FinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-27T13:58:07</CreateDate>
    <NodeName Default="Financial Advisor" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="76b065d7-2b7b-4480-bb2f-de3d061fd94c">ServiceDetail</Template>
  </Info>
  <Properties>
    <contactContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9a365002-ab17-4c9a-bae7-b9ce17685c2e",
      "key": "6324a6e9-26d3-4c24-95fd-c0905850af10",
      "udi": null,
      "values": [
        {
          "alias": "conactImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "44d1daa6-cc67-4976-9a06-2b239d340576",
              "mediaKey": "6fc4fed5-5371-496a-b137-e9898efb54c1",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactAdress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "contactEmail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        },
        {
          "alias": "contactPhone",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        },
        {
          "alias": "contactHeader",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "926877fa-ecd1-4cb1-98ee-dcf2179b265e",
      "key": "20773042-f3ac-49f0-9c02-8c8c4b9d8f41",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "6324a6e9-26d3-4c24-95fd-c0905850af10",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "6324a6e9-26d3-4c24-95fd-c0905850af10",
        "contentUdi": null,
        "settingsKey": "20773042-f3ac-49f0-9c02-8c8c4b9d8f41",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contactContent>
    <pageTitle>
      <Value><![CDATA[Financial Advisor]]></Value>
    </pageTitle>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailsAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "039e1f0b-16f2-4785-9c25-0f5a3bff18e0",
      "key": "4955a5c6-08db-4d89-a26f-4eb3ce927abb",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us"
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        },
        {
          "alias": "infoImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "0360d840-5f5f-4e70-bc2f-d87b6f1c60a4",
              "mediaKey": "25ee39d8-d7ed-4275-8e81-558c018a1b13",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "4955a5c6-08db-4d89-a26f-4eb3ce927abb",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "4955a5c6-08db-4d89-a26f-4eb3ce927abb",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailsAsides>
    <serviceDetalBody>
      <Value><![CDATA[]]></Value>
    </serviceDetalBody>
    <serviceDetalThumbnail>
      <Value><![CDATA[[
  {
    "key": "be91ea2c-8b12-4bff-9c57-31ad0dbb8111",
    "mediaKey": "40e7c3d5-273e-41d7-82c3-6b841d3760a6",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetalThumbnail>
  </Properties>
</Content>