<?xml version="1.0" encoding="utf-8"?>
<Content Key="e49c828a-3ad9-4aa6-aae8-eddb5ea139f8" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-10-22T17:03:15</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="23ed481d-2558-4d36-8ba3-3cf7bdc6eea3">HomePage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "efda8599-81bb-443a-87d2-433f835f629b",
      "key": "0bcaa3ad-b62f-494d-97a8-84df0397c9bc",
      "udi": null,
      "values": [
        {
          "alias": "heroTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We bring success to you"
        },
        {
          "alias": "heroText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "heroLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Contact us",
              "target": null,
              "udi": "umb://document/1fcaff8683ee466e9ab33dc15544586d",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "heroBgImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "00e4399c-db09-4866-a621-6c5b1cf3560e",
              "mediaKey": "1cb148cd-1ebc-4ed5-bb4c-5c3f5ac1f0ac",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "cb45e48f-e7d3-408b-86e4-36f6264db1c5",
      "key": "658627c0-42c5-4100-ad71-742fe3339500",
      "udi": null,
      "values": [
        {
          "alias": "serviceLable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "c5be60a1-ce77-46cc-8b2d-233ab0dc665b",
      "key": "3e15995c-19ea-4d3e-8af5-9da83c73961e",
      "udi": null,
      "values": [
        {
          "alias": "partnerList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "e0fbdcb4-7704-4745-bb46-927ed578793e",
                "key": "aa0e685e-c94a-4c61-bbe4-59dec1d14352",
                "udi": null,
                "values": [
                  {
                    "alias": "parterLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "077757fe-3e8b-48f4-82ed-48cb02719016",
                        "mediaKey": "b799114e-82a9-4b30-9d28-2442827e5f85",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Freedombird"
                  }
                ]
              },
              {
                "contentTypeKey": "e0fbdcb4-7704-4745-bb46-927ed578793e",
                "key": "c8ce35f1-0c07-4388-8b8d-1314f6a9ec42",
                "udi": null,
                "values": [
                  {
                    "alias": "parterLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "62c1c326-051f-414d-bd14-42e947dee3a3",
                        "mediaKey": "48bcd947-528e-4560-9c9f-e82e36222d13",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Identity"
                  }
                ]
              },
              {
                "contentTypeKey": "e0fbdcb4-7704-4745-bb46-927ed578793e",
                "key": "b5777ab0-d672-45f2-b739-1f585fd8ca09",
                "udi": null,
                "values": [
                  {
                    "alias": "parterLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "b606caeb-5aaa-46bb-8971-f0713aea0105",
                        "mediaKey": "126baa3e-57fc-45f8-94a1-4a96fe95b122",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Natural"
                  }
                ]
              },
              {
                "contentTypeKey": "e0fbdcb4-7704-4745-bb46-927ed578793e",
                "key": "f1dddd01-59d7-4d39-a594-94b0a0badb92",
                "udi": null,
                "values": [
                  {
                    "alias": "parterLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "0b8530ec-49e7-442e-b4f0-7bc802caf4cb",
                        "mediaKey": "ab86d3ca-ddee-4952-b866-d12c9d183fe6",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Simpleaf"
                  }
                ]
              },
              {
                "contentTypeKey": "e0fbdcb4-7704-4745-bb46-927ed578793e",
                "key": "d0209300-a2c1-40a0-aaec-795ebca00107",
                "udi": null,
                "values": [
                  {
                    "alias": "parterLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "a326e644-c30e-4289-ae24-c278c62ff88b",
                        "mediaKey": "5b7ee0ec-9826-4da5-831a-1b36117e43dc",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Globe"
                  }
                ]
              },
              {
                "contentTypeKey": "e0fbdcb4-7704-4745-bb46-927ed578793e",
                "key": "b157a8ee-1538-4fa4-b6c0-30a12d31b5e3",
                "udi": null,
                "values": [
                  {
                    "alias": "parterLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "291a7918-af79-46cc-92be-b7017a17abed",
                        "mediaKey": "2c226053-f3c3-40dd-b6d0-49ecee8f77e5",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Fossilgroup"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "aa0e685e-c94a-4c61-bbe4-59dec1d14352",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "c8ce35f1-0c07-4388-8b8d-1314f6a9ec42",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b5777ab0-d672-45f2-b739-1f585fd8ca09",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "f1dddd01-59d7-4d39-a594-94b0a0badb92",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d0209300-a2c1-40a0-aaec-795ebca00107",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b157a8ee-1538-4fa4-b6c0-30a12d31b5e3",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "aa0e685e-c94a-4c61-bbe4-59dec1d14352",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "c8ce35f1-0c07-4388-8b8d-1314f6a9ec42",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "b5777ab0-d672-45f2-b739-1f585fd8ca09",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "f1dddd01-59d7-4d39-a594-94b0a0badb92",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "d0209300-a2c1-40a0-aaec-795ebca00107",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "b157a8ee-1538-4fa4-b6c0-30a12d31b5e3",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "85d576cc-16f1-4f1c-9142-40cbb935e3ee",
      "key": "b433dfe5-2362-48d6-8b6a-5f13847e6af6",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Little less white",
            "value": "#F7F7F7"
          }
        },
        {
          "alias": "showServiceLable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "0bcaa3ad-b62f-494d-97a8-84df0397c9bc",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "658627c0-42c5-4100-ad71-742fe3339500",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3e15995c-19ea-4d3e-8af5-9da83c73961e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "0bcaa3ad-b62f-494d-97a8-84df0397c9bc",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "658627c0-42c5-4100-ad71-742fe3339500",
        "contentUdi": null,
        "settingsKey": "b433dfe5-2362-48d6-8b6a-5f13847e6af6",
        "settingsUdi": null
      },
      {
        "contentKey": "3e15995c-19ea-4d3e-8af5-9da83c73961e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>