<?xml version="1.0" encoding="utf-8"?>
<Content Key="74c2f160-1ce5-4ee8-ae3f-ebdca93a639d" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-24T14:23:32</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAdress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </contactAdress>
    <contactEmail>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <footerText>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003E\u00A9 Onatrix. All Rights Reserved. Credits to Themesflat\u003C/span\u003E\u003C/p\u003E"
}]]></Value>
    </footerText>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "da6bc05f-488d-4a87-9d34-5e6796aaecb4",
      "key": "12a8638a-aaa6-437f-b117-df28a86301ca",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com/"
        }
      ]
    },
    {
      "contentTypeKey": "da6bc05f-488d-4a87-9d34-5e6796aaecb4",
      "key": "fdd9793d-a5cc-4213-a411-68d01497ba38",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "LinkedIn"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.linkedin.com"
        }
      ]
    },
    {
      "contentTypeKey": "da6bc05f-488d-4a87-9d34-5e6796aaecb4",
      "key": "45204fbf-4ee0-4e39-a5ff-988c8a250305",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Shitter"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://x.com/"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "12a8638a-aaa6-437f-b117-df28a86301ca",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "fdd9793d-a5cc-4213-a411-68d01497ba38",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "45204fbf-4ee0-4e39-a5ff-988c8a250305",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "12a8638a-aaa6-437f-b117-df28a86301ca",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "45204fbf-4ee0-4e39-a5ff-988c8a250305",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "fdd9793d-a5cc-4213-a411-68d01497ba38",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "d6bdcd53-1b5e-43c0-b7d0-8e2e27209718",
    "mediaKey": "9894a4ea-60fe-4201-81f9-ce2b7d2e60c9",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
  </Properties>
</Content>