<?xml version="1.0" encoding="utf-8"?>
<Content Key="ed3984a7-944b-4ead-8036-74a5b7bcb433" Alias="Statistic Advissors" Level="3">
  <Info>
    <Parent Key="0ddaab84-3e08-4ec1-9fac-1dae652ee4e8">Services</Parent>
    <Path>/Home/Services/StatisticAdvissors</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-27T13:57:05</CreateDate>
    <NodeName Default="Statistic Advissors" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="76b065d7-2b7b-4480-bb2f-de3d061fd94c">ServiceDetail</Template>
  </Info>
  <Properties>
    <contactContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9a365002-ab17-4c9a-bae7-b9ce17685c2e",
      "key": "a73a0c73-c546-42da-b80e-98dec5d0483c",
      "udi": null,
      "values": [
        {
          "alias": "conactImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "2b549263-87e3-4160-bd6b-fc3d6ba19a47",
              "mediaKey": "6fc4fed5-5371-496a-b137-e9898efb54c1",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactAdress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "contactPhone",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        },
        {
          "alias": "contactEmail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "926877fa-ecd1-4cb1-98ee-dcf2179b265e",
      "key": "b497357d-c2f2-4371-8baa-24abe922d88b",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "a73a0c73-c546-42da-b80e-98dec5d0483c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a73a0c73-c546-42da-b80e-98dec5d0483c",
        "contentUdi": null,
        "settingsKey": "b497357d-c2f2-4371-8baa-24abe922d88b",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contactContent>
    <pageTitle>
      <Value><![CDATA[Statistic Advissors]]></Value>
    </pageTitle>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailsAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "039e1f0b-16f2-4785-9c25-0f5a3bff18e0",
      "key": "1fae8e86-8400-4a66-81cd-374e18f6f34a",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "infoImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e93a1163-d0c5-435b-ac95-7f84638bbd75",
              "mediaKey": "25ee39d8-d7ed-4275-8e81-558c018a1b13",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "1fae8e86-8400-4a66-81cd-374e18f6f34a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "1fae8e86-8400-4a66-81cd-374e18f6f34a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailsAsides>
    <serviceDetalBody>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ETest f\u00F6r stor text\u003Cbr\u003E\u003Cbr\u003Etest f\u00F6r liten text\u003C/p\u003E"
}]]></Value>
    </serviceDetalBody>
    <serviceDetalThumbnail>
      <Value><![CDATA[[
  {
    "key": "5296f47a-5b59-4fdb-bb75-490b6f5849ca",
    "mediaKey": "25ee39d8-d7ed-4275-8e81-558c018a1b13",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetalThumbnail>
  </Properties>
</Content>