<?xml version="1.0" encoding="utf-8"?>
<Content Key="ef71b5fd-e131-4b03-a7a2-68cd41820882" Alias="Tax and Trusts" Level="3">
  <Info>
    <Parent Key="0ddaab84-3e08-4ec1-9fac-1dae652ee4e8">Services</Parent>
    <Path>/Home/Services/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-27T13:58:23</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="76b065d7-2b7b-4480-bb2f-de3d061fd94c">ServiceDetail</Template>
  </Info>
  <Properties>
    <contactContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9a365002-ab17-4c9a-bae7-b9ce17685c2e",
      "key": "9e84819f-2e49-4239-9922-9c3417ad3174",
      "udi": null,
      "values": [
        {
          "alias": "conactImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "13483585-a69b-4ef9-9726-e72b3ecb3af6",
              "mediaKey": "6fc4fed5-5371-496a-b137-e9898efb54c1",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactEmail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        },
        {
          "alias": "contactAdress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "contactPhone",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        },
        {
          "alias": "contactHeader",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "926877fa-ecd1-4cb1-98ee-dcf2179b265e",
      "key": "f3ccdad7-80b1-41c1-9083-aa7f4a9cc0fb",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "9e84819f-2e49-4239-9922-9c3417ad3174",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "9e84819f-2e49-4239-9922-9c3417ad3174",
        "contentUdi": null,
        "settingsKey": "f3ccdad7-80b1-41c1-9083-aa7f4a9cc0fb",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contactContent>
    <pageTitle>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </pageTitle>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailsAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "039e1f0b-16f2-4785-9c25-0f5a3bff18e0",
      "key": "98e001f6-c71d-46cb-a9c9-8220071bf5f3",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "infoImg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d8b26db4-1a40-4886-8f56-a8d0c82d8ed7",
              "mediaKey": "25ee39d8-d7ed-4275-8e81-558c018a1b13",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "98e001f6-c71d-46cb-a9c9-8220071bf5f3",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "98e001f6-c71d-46cb-a9c9-8220071bf5f3",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailsAsides>
    <serviceDetalBody>
      <Value><![CDATA[]]></Value>
    </serviceDetalBody>
    <serviceDetalThumbnail>
      <Value><![CDATA[[
  {
    "key": "0f0bb710-754c-4a90-a8c1-3c41e1412592",
    "mediaKey": "d6e66404-8044-4e7f-90cf-4f8accd8914a",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetalThumbnail>
  </Properties>
</Content>