<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3663a022-3b7a-4f4c-9a0e-b2f916d06267" Alias="About Callback Settings - ShowBgimg - Toggle Property Editor UI" Level="1">
  <Info>
    <Name>About Callback Settings - ShowBgimg - Toggle Property Editor UI</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>