<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cdf00de8-4ea8-4c08-bbf6-67940c6d7a6f" Alias="About Page - Contact" Level="1">
  <Info>
    <Name>About Page - Contact</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "9a365002-ab17-4c9a-bae7-b9ce17685c2e",
      "settingsElementTypeKey": "926877fa-ecd1-4cb1-98ee-dcf2179b265e"
    },
    {
      "contentElementTypeKey": "c5be60a1-ce77-46cc-8b2d-233ab0dc665b"
    },
    {
      "contentElementTypeKey": "6ac943a1-ec0e-4fd2-a8fa-1bf4a847e731"
    }
  ]
}]]></Config>
</DataType>