<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a6f69341-e6b2-47bb-906c-8ab1849c5cbe" Alias="Map Section - Callback form - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Map Section - Callback form - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>