<?xml version="1.0" encoding="utf-8"?>
<DataType Key="390497bb-3020-446a-af05-b084144b2109" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "efda8599-81bb-443a-87d2-433f835f629b"
    },
    {
      "contentElementTypeKey": "cb45e48f-e7d3-408b-86e4-36f6264db1c5",
      "settingsElementTypeKey": "85d576cc-16f1-4f1c-9142-40cbb935e3ee"
    },
    {
      "contentElementTypeKey": "9d5e4ded-4499-4510-9472-2fa8781610e4"
    },
    {
      "contentElementTypeKey": "c5be60a1-ce77-46cc-8b2d-233ab0dc665b"
    },
    {
      "contentElementTypeKey": "7253be72-1129-4274-a58b-48fd080675f0",
      "settingsElementTypeKey": "ecebe018-a43a-4614-9276-8b3cbacd9377"
    },
    {
      "contentElementTypeKey": "b8468fcf-ddb3-4a4d-91aa-b9955454371f"
    },
    {
      "contentElementTypeKey": "75d0cb11-2eda-4c61-8353-99fb83311475"
    },
    {
      "contentElementTypeKey": "716b4ac7-0f97-46a7-9863-66a6f5d92141"
    }
  ]
}]]></Config>
</DataType>