<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b3b885fc-d217-4727-8d7f-13f6b67fb739" Alias="Our Story Section - StoryNav - Multi URL Picker Property Editor UI" Level="1">
  <Info>
    <Name>Our Story Section - StoryNav - Multi URL Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 1,
  "minNumber": 0
}]]></Config>
</DataType>