<?xml version="1.0" encoding="utf-8"?>
<DataType Key="82259160-2a07-48a5-850e-4710716cf53b" Alias="Service Details Asides - List" Level="1">
  <Info>
    <Name>Service Details Asides - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "039e1f0b-16f2-4785-9c25-0f5a3bff18e0"
    }
  ]
}]]></Config>
</DataType>