<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5e9de563-f8cd-4c11-9752-cbb55e7877e0" Alias="Site Settings - Platform list" Level="1">
  <Info>
    <Name>Site Settings - Platform list</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "da6bc05f-488d-4a87-9d34-5e6796aaecb4",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>