<?xml version="1.0" encoding="utf-8"?>
<DataType Key="426a1041-1933-45bb-9b1b-b45aaef921d3" Alias="SuccessSection - Sucess Counter List - Block List Property Editor UI" Level="1">
  <Info>
    <Name>SuccessSection - Sucess Counter List - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "85dc6ba9-afac-4d45-a37e-869f54253080"
    }
  ]
}]]></Config>
</DataType>