<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e73061ca-1627-4915-b4ca-91f222119e6d" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "cf3107ca-fa78-4cb0-9923-50694b58de80",
      "label": "{umbValue: memberName}"
    }
  ]
}]]></Config>
</DataType>