<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5c5fb142-6be2-4d78-9af5-608db5374e61" Alias="Toggle Bg Im" Level="1">
  <Info>
    <Name>Toggle Bg Im</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>